@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

    </head>
<body>
    
    <div class="jumbotron">
        <h2 class="blog-post-title border-bottom">Homestead Apartments Care Service</h2>
        <p class="lead">
            Please do get in touch if you would like to discuss our services or arrange a free and no obligations home visit.
            <br>Telephone: 01708 34 34 34
            <br>Email: enquiries@homesteadcare.com
        </p>
        <p class="lead">
            Alternatively, you can complete the enquiry form opposite and we will call you.
            <br>
            We operate an ‘open door’ policy so please do feel free to visit our offices. Please do call or email or <b>fill up below form</b> to arrange an appointment.
        </p>
            <a class="btn btn-secondary" asp-action="RsvpForm" role="button">Client Inquiry Form</a>

            <!--<h3>We'er going to have fun. Add data:</h3>
        <h4>You are invited....</h4>
        <a asp-action="RsvpForm">RSVP Now</a>-->
    </div>
</body>
</html>
