@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

    </head>
    <body>
        <div class="container">
            <h1 class="mt-5">Thank you for filling up the enquiry form @Model.Name!</h1>
            <p class="lead">

                @if (Model.WillAttend == true)
                {

                    @:Current Status:Tenant.<br /> We are going to call you within 24 hr.
                }
                else
                {
                    @:We are going to set an appointment shorly and send via e-mail address.
                }
                To recheck the information is correct or not that you have provided  <a asp-action="ListResponses">click here</a>.
            </p>
            <!-- <p>
             Click<a asp-action="ListResponses">Here</a> to see who is coming!!!
         </p> -->
    </div>
            </body>
</html>
